<!DOCTYPE html>
<html>

<head>
  <title>Story Generator</title>
  <link rel="icon" type="image/x-icon" href="/images/light-bulb.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  
</head>

<body>
  <h1>Unleash your creativity!</h1>
  <div class = "container" id="selection-container">
    <form action="/" id="form" class="form" method="POST">
      <div>
        <label for="genre">Story Genre:</label><br>
        <select name="genre" class="form-select" id="genre">
          <option value="Adventure and Exploration" data-display="Select">Adventure and Exploration</option>
          <option value="Fantasy and Magic">Fantasy and Magic</option>
          <option value="Animal Stories">Animal Stories</option>
          <option value="Humor and Comedy">Humor and Comedy</option>
          <option value="Historical Fiction">Historical Fiction</option>
        </select>
      </div>

      <div>
        <label for="languages">Language:</label><br>
        <select name="languages" class="form-select" id="languages">
          <option value="English">English</option>
          <option value="Malay">Malay</option>
          <option value="Mandarin">Mandarin</option>
          <option value="Hindi">Hindi</option>
        </select>
      </div>
      
      <div>
        <label for="age">Age Group:</label><br>
        <select name="age" class="form-select" id="age">
          <option value="Early Childhood (Ages 0-3)">Early Childhood (Ages 0-3)</option>
          <option value="Preschool (Ages 4-6)">Preschool (Ages 4-6)</option>
          <option value="Early Readers (Ages 7-9)">Early Readers (Ages 7-9)</option>
          <option value="Middle Grade (Ages 10-12)">Middle Grade (Ages 10-12)</option>
          <option value="Young Adult (Ages 13+)">Young Adult (Ages 13+)</option>
        </select>
      </div>

      <div class="additional-requirement-container">
        <div>
          <label for="requirement">Additional requirement:</label><br>
          <input type="text" id="requirement" name="requirement">
        </div>
      </div>

      <div class="submit-btn-container">
        <button type="submit" class="form-submit">Create Story</button>
      </div>
    </form>
  </div>
  <% if (locals.type){ %>
    <p class="joke-info">Selected type: <%=type%> <span class="spacer"></span> Language: <%=language%> <span class="spacer"></span> Type: <%=jokePart%></p>
  <% } %>

  <% if (locals.story || locals.error){ %>
    <div class="card">
      <p class="content">
        <%if (locals.error){%>
          <%= error %>
        <% } %>
      </p>
      <% story.forEach(paragraph => {%>
        <p class="content">
            <%= paragraph %>
        </p>
      <%}); %>
    </div>
  <% } %>

  <% if (locals.audio){ %>
    <audio controls class="audio-container">
      <source src=<%= audio %> type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  <% } %>

  <%# include ('partials/footer') %>
</body>

</html>